* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  font-family: "Poppins", sans-serif;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes scroll-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir', sans-serif;
}